footer{
    background-color:beige; margin-bottom:auto;
    margin-top:auto ;
                              }
                                 
                         
.contacto {
       display: inline-block; position:relative;
       margin-left: 38%;
       color: black;
                             }