header {  
    background-size: 100%; 
    background-repeat: no-repeat;
    margin-bottom: 5%; 
    &nav{ display: block;
         justify-content: space-between;
         margin: 0 auto;
         width: 100%;
         text-align: center}
}
    
body div header h1 { 
    text-align:center; 
    display: inline-block;
    font-size: x-large;
    margin-top:40px ;
    margin-left:100px;
    padding-inline-start: 30%;
    position:relative;
}       
   
header nav div ul li{
      display: inline-block;
      margin: 3px;
 }
header nav div ul li  a{text-decoration: none;
         color: black; }

  

body { 
 flex-direction: column;
}
.container header h1 {grid-auto-flow: row; 
    padding-right: 35%; 
    margin-left:10% ;}
    .container{ 
        background-image: url(../fondo/azulejo.jpg);
        max-width: 100%;
        max-height: max-content;
        opacity: 85%;
   }

.container-fluid{ 
            background-image: url(../fondo/azulejo.jpg);
            max-width: 100%;
            max-height: max-content;
            opacity: 85%;
            margin-top: -10%;
            margin-bottom: -10%;
           padding-left: 35%;
        }
.containers h2 {
            grid-auto-rows: auto;
            margin-left: 2%;
           }
.carousel-inner{
            display: block;
            margin: 0 auto;
            max-width:40%;  
            margin-left: auto;
            justify-content: center;
    }
    
.carousel-inner{ width:50%;
            height: 50%;
            margin-top: 10%;
            margin-left:38%;
            padding-bottom: 25%;
            position: relative;
    }