*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;        
    }
    header {  
             background-size: 100%; 
             background-repeat: no-repeat;
             margin-bottom: 5%; 
      }
    
    header nav { display: block;
                 justify-content: space-between;
                 margin: 0 auto;
                 width: 100%;
                 text-align: center;
                
                 
      }
             
    body div header h1 { 
             text-align:center; 
             display: inline-block;
             font-size: x-large;
             margin-top:40px ;
             margin-left:100px;
             padding-inline-start: 30%;
             position:relative;
      }       
     
      a {
            position: relative;
            overflow: hidden;
            display: inline-block;
            text-decoration: none;
            color: #333;
            }
            a:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: #333;
            transition: left .8s;
            }
            a:hover:after {
            left: 0;
            } ♠      
    
    header nav div ul li{
               display: inline-block;
               margin: 3px;
     }
    
    header nav div ul li a{
               text-decoration: none;
               color: black; 
     }
              
    
    body { 
          flex-direction: column;
    }
          
    
    
    .container header h1 {grid-auto-flow: row;
                          padding-right: 35%;
                          margin-left:10% ;}
    .container{ 
                 background-image: url(../fondo/azulejo.jpg);
                 max-width: 100%;
                 max-height: max-content;
                 opacity: 85%;
            }
    
    .container-fluid{ 
                     background-image: url(../fondo/azulejo.jpg);
                     max-width: 100%;
                     max-height: max-content;
                     opacity: 85%;
                     margin-top: -10%;
                     margin-bottom: -10%;
                    padding-left: 35%;}
    .containers h2 {
                    grid-auto-rows: auto; margin-left: 2%;
    }
.texto__4 {text-align: center;font-size: large;
      
      }
.img__4 {
            display: block;
            margin: 0 auto;
            max-width:1200px;  
            border: 5px solid black; 
            margin-left: auto;
            width:40%;
            height: 40%;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-top: 5%;}
           
           
.img__4 {@include borde(rgb(52, 58, 52))}

