.texto__3{ 
    text-align: center;
    @map-get
}
.img__3 {
    display: block;
    margin: 0 auto;
    max-width:  400px;
    width: 20%;  
    border: 5px solid black; 
    margin-left: auto;  width: 50%;
    height: 50%;
    margin-top: 3%;
    margin-bottom: 3%;}
.img__3 :hover{
        -webkit-transform:scale(1.2);
        transform:scale(1.2);}
    

