/* Color Bordes*/
$color-primario:border-color( #152);
$color-secundario:border-color( rgb(228, 48, 48));
$color-terciario:border-color ( rgb(138, 241, 241));
$tamaño-borde: 5px solid black;

/*Tipografia*/
$fuente-secundaria:Times New Roman;
$segunda-fuente:Arial Black;

/*Tamaño letras*/
$tamaño-h1:font-size (XXlLarge);
$tamaño-h2:font-size (large);

/*Maps*/
$fondo1:background-image("./fondo/azulejo2.jpg");
$fondo2:backgroung-image("./fondo/azulejo3.jpg");
$colores:(
             primario #955 ,
             secundario #455),












