/* Color Bordes*/
$color-primario:border-color( #152);
$color-secundario:border-color( #322);
$color-terciario:border-color ( #455);

/*Tipografia*/
$fuente-secundaria:Times New Roman;
$segunda-fuente:Arial Black;

/*Tamaño letras*/
$tamaño-h1:font-size (Xxl);
$tamaño-h2:font-size (large);




