/* Color Bordes*/
$color-primario: rgb(238, 52, 52),


/*Tipografia*/


$fuente-secundaria:Times New Roman,
$segunda-fuente: Lucida Sans,Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;





